n8n-workflows/seo-rank-tracker.json
{
  "name": "SEO Rank Tracker - lician.com",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily Schedule (6 AM)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300],
      "notes": "Runs daily at 6 AM UTC to track keyword rankings"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1"
            }
          ]
        }
      },
      "id": "weekly-report-trigger",
      "name": "Weekly Report (Monday 8 AM)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 900],
      "notes": "Generates weekly trend report every Monday"
    },
    {
      "parameters": {
        "jsCode": "// Keywords to track for lician.com SEO\nconst keywords = [\n  // Core product keywords (8 specified)\n  \"stock screener\",\n  \"P/E ratio by sector\",\n  \"compound interest calculator\",\n  \"dividend yield calculator\",\n  \"S&P 500 historical returns\",\n  \"stock comparison tool\",\n  \"AI stock predictions\",\n  \"free stock analysis\",\n  \n  // Stock analysis keywords (6 more)\n  \"stock fundamental analysis\",\n  \"financial ratio calculator\",\n  \"stock valuation tool\",\n  \"intrinsic value calculator\",\n  \"DCF calculator\",\n  \"stock research platform\",\n  \n  // Market data keywords (5 more)\n  \"sector performance chart\",\n  \"market cap by sector\",\n  \"earnings calendar\",\n  \"dividend stocks list\",\n  \"growth stocks screener\",\n  \n  // Calculator keywords (4 more)\n  \"CAGR calculator\",\n  \"ROI calculator stocks\",\n  \"price to book ratio\",\n  \"debt to equity ratio\",\n  \n  // Comparison/research keywords (5 more)\n  \"compare stocks side by side\",\n  \"best stock screener free\",\n  \"stock portfolio analyzer\",\n  \"financial statement analysis\",\n  \"quarterly earnings analysis\"\n];\n\nconst trackingDate = new Date().toISOString().split('T')[0];\n\nreturn keywords.map(keyword => ({\n  json: {\n    keyword,\n    trackingDate,\n    domain: 'lician.com'\n  }\n}));"
      },
      "id": "set-keywords",
      "name": "Set Keywords to Track",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 300],
      "notes": "28 target keywords for lician.com"
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {
          "reset": false
        }
      },
      "id": "batch-keywords",
      "name": "Batch Keywords (5 at a time)",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [640, 300],
      "notes": "Rate limit API calls"
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "rate-limit-wait",
      "name": "Wait 2s (Rate Limit)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [860, 400],
      "notes": "Prevent API rate limiting"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://serpapi.com/search.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "={{ $env.SERPAPI_KEY }}"
            },
            {
              "name": "q",
              "value": "={{ $json.keyword }}"
            },
            {
              "name": "location",
              "value": "United States"
            },
            {
              "name": "google_domain",
              "value": "google.com"
            },
            {
              "name": "gl",
              "value": "us"
            },
            {
              "name": "hl",
              "value": "en"
            },
            {
              "name": "num",
              "value": "100"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      },
      "id": "serpapi-search",
      "name": "SerpAPI Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [860, 300],
      "notes": "Get Google SERP results (top 100)",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "const keyword = $('Batch Keywords (5 at a time)').item.json.keyword;\nconst trackingDate = $('Batch Keywords (5 at a time)').item.json.trackingDate;\nconst domain = 'lician.com';\nconst results = $input.item.json;\n\n// Find lician.com position in organic results\nlet position = null;\nlet url = null;\nlet title = null;\nlet snippet = null;\n\nif (results.organic_results && Array.isArray(results.organic_results)) {\n  for (let i = 0; i < results.organic_results.length; i++) {\n    const result = results.organic_results[i];\n    if (result.link && result.link.includes(domain)) {\n      position = i + 1; // 1-indexed position\n      url = result.link;\n      title = result.title || null;\n      snippet = result.snippet || null;\n      break;\n    }\n  }\n}\n\n// Get search metadata\nconst totalResults = results.search_information?.total_results || null;\nconst searchTime = results.search_information?.time_taken_displayed || null;\n\n// Check for featured snippet\nlet hasFeaturedSnippet = false;\nlet featuredSnippetType = null;\nif (results.answer_box || results.featured_snippet) {\n  const snippet = results.answer_box || results.featured_snippet;\n  if (snippet.link && snippet.link.includes(domain)) {\n    hasFeaturedSnippet = true;\n    featuredSnippetType = snippet.type || 'unknown';\n  }\n}\n\n// Check for People Also Ask\nlet inPeopleAlsoAsk = false;\nif (results.related_questions) {\n  for (const q of results.related_questions) {\n    if (q.link && q.link.includes(domain)) {\n      inPeopleAlsoAsk = true;\n      break;\n    }\n  }\n}\n\nreturn {\n  json: {\n    keyword,\n    tracking_date: trackingDate,\n    domain,\n    position,\n    url,\n    title,\n    snippet,\n    total_results: totalResults,\n    search_time: searchTime,\n    has_featured_snippet: hasFeaturedSnippet,\n    featured_snippet_type: featuredSnippetType,\n    in_people_also_ask: inPeopleAlsoAsk,\n    raw_position: position || 101, // 101 = not in top 100\n    created_at: new Date().toISOString()\n  }\n};"
      },
      "id": "parse-serp-results",
      "name": "Parse SERP Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 300],
      "notes": "Extract lician.com position and metadata"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT position, tracking_date \nFROM keyword_rankings \nWHERE keyword = '{{ $json.keyword }}' \n  AND domain = '{{ $json.domain }}'\nORDER BY tracking_date DESC \nLIMIT 1",
        "options": {}
      },
      "id": "get-previous-ranking",
      "name": "Get Previous Ranking",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1300, 300],
      "credentials": {
        "postgres": {
          "id": "supabase-postgres",
          "name": "Supabase Postgres"
        }
      },
      "notes": "Fetch yesterday's position for comparison"
    },
    {
      "parameters": {
        "jsCode": "const current = $('Parse SERP Results').item.json;\nconst previous = $input.item.json;\n\nlet positionChange = null;\nlet changeDirection = 'new'; // new, up, down, same\nlet previousPosition = null;\n\nif (previous && previous.position !== undefined) {\n  previousPosition = previous.position;\n  \n  if (current.position && previousPosition) {\n    // Lower position number = better ranking\n    positionChange = previousPosition - current.position;\n    \n    if (positionChange > 0) {\n      changeDirection = 'up';\n    } else if (positionChange < 0) {\n      changeDirection = 'down';\n    } else {\n      changeDirection = 'same';\n    }\n  } else if (current.position && !previousPosition) {\n    changeDirection = 'entered'; // Entered top 100\n  } else if (!current.position && previousPosition) {\n    changeDirection = 'dropped'; // Dropped out of top 100\n  }\n}\n\n// Determine if this is a significant change\nconst isSignificantChange = Math.abs(positionChange || 0) >= 10 || \n                            changeDirection === 'entered' || \n                            changeDirection === 'dropped';\n\nreturn {\n  json: {\n    ...current,\n    previous_position: previousPosition,\n    position_change: positionChange,\n    change_direction: changeDirection,\n    is_significant_change: isSignificantChange\n  }\n};"
      },
      "id": "calculate-position-change",
      "name": "Calculate Position Change",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1520, 300],
      "notes": "Compare with previous ranking"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO keyword_rankings (\n  keyword,\n  domain,\n  position,\n  url,\n  title,\n  snippet,\n  total_results,\n  search_time,\n  has_featured_snippet,\n  featured_snippet_type,\n  in_people_also_ask,\n  previous_position,\n  position_change,\n  change_direction,\n  tracking_date,\n  created_at\n) VALUES (\n  '{{ $json.keyword }}',\n  '{{ $json.domain }}',\n  {{ $json.position || 'NULL' }},\n  {{ $json.url ? \"'\" + $json.url + \"'\" : 'NULL' }},\n  {{ $json.title ? \"'\" + $json.title.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.snippet ? \"'\" + $json.snippet.replace(/'/g, \"''\").substring(0, 500) + \"'\" : 'NULL' }},\n  {{ $json.total_results || 'NULL' }},\n  {{ $json.search_time || 'NULL' }},\n  {{ $json.has_featured_snippet }},\n  {{ $json.featured_snippet_type ? \"'\" + $json.featured_snippet_type + \"'\" : 'NULL' }},\n  {{ $json.in_people_also_ask }},\n  {{ $json.previous_position || 'NULL' }},\n  {{ $json.position_change || 'NULL' }},\n  '{{ $json.change_direction }}',\n  '{{ $json.tracking_date }}',\n  '{{ $json.created_at }}'\n)\nON CONFLICT (keyword, domain, tracking_date) \nDO UPDATE SET\n  position = EXCLUDED.position,\n  url = EXCLUDED.url,\n  position_change = EXCLUDED.position_change,\n  change_direction = EXCLUDED.change_direction,\n  updated_at = NOW()",
        "options": {}
      },
      "id": "store-ranking",
      "name": "Store Ranking in Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1740, 300],
      "credentials": {
        "postgres": {
          "id": "supabase-postgres",
          "name": "Supabase Postgres"
        }
      },
      "notes": "Upsert daily ranking data"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.is_significant_change }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-significant-change",
      "name": "Significant Change?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1960, 300],
      "notes": "Filter for +/- 10 position changes"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst alerts = items.map(item => {\n  const d = item.json;\n  let emoji = '';\n  let message = '';\n  \n  if (d.change_direction === 'up') {\n    emoji = d.position_change >= 20 ? '🚀' : '📈';\n    message = `${emoji} ${d.keyword}: Moved UP ${d.position_change} positions (${d.previous_position} → ${d.position})`;\n  } else if (d.change_direction === 'down') {\n    emoji = Math.abs(d.position_change) >= 20 ? '🔻' : '📉';\n    message = `${emoji} ${d.keyword}: Moved DOWN ${Math.abs(d.position_change)} positions (${d.previous_position} → ${d.position})`;\n  } else if (d.change_direction === 'entered') {\n    emoji = '✨';\n    message = `${emoji} ${d.keyword}: ENTERED top 100 at position ${d.position}`;\n  } else if (d.change_direction === 'dropped') {\n    emoji = '⚠️';\n    message = `${emoji} ${d.keyword}: DROPPED out of top 100 (was ${d.previous_position})`;\n  }\n  \n  return {\n    json: {\n      keyword: d.keyword,\n      message,\n      position: d.position,\n      previous_position: d.previous_position,\n      position_change: d.position_change,\n      change_direction: d.change_direction,\n      url: d.url,\n      tracking_date: d.tracking_date\n    }\n  };\n});\n\nreturn alerts;"
      },
      "id": "format-alerts",
      "name": "Format Alert Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2180, 200],
      "notes": "Create readable alert messages"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst date = new Date().toISOString().split('T')[0];\n\nconst alertLines = items.map(item => item.json.message);\n\nconst emailBody = `\n<html>\n<head>\n  <style>\n    body { font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; }\n    .header { background: #1a1a2e; color: white; padding: 20px; }\n    .content { padding: 20px; }\n    .alert { padding: 12px; margin: 8px 0; border-radius: 8px; }\n    .alert.up { background: #d4edda; border-left: 4px solid #28a745; }\n    .alert.down { background: #f8d7da; border-left: 4px solid #dc3545; }\n    .alert.entered { background: #d1ecf1; border-left: 4px solid #17a2b8; }\n    .alert.dropped { background: #fff3cd; border-left: 4px solid #ffc107; }\n    .footer { padding: 20px; color: #666; font-size: 12px; }\n  </style>\n</head>\n<body>\n  <div class=\"header\">\n    <h2>🎯 SEO Ranking Alerts - lician.com</h2>\n    <p>Date: ${date}</p>\n  </div>\n  <div class=\"content\">\n    <h3>Significant Ranking Changes (±10 positions)</h3>\n    ${items.map(item => {\n      const d = item.json;\n      let alertClass = d.change_direction;\n      return `<div class=\"alert ${alertClass}\">${d.message}</div>`;\n    }).join('')}\n  </div>\n  <div class=\"footer\">\n    <p>Total keywords tracked: 28</p>\n    <p>Alerts triggered: ${items.length}</p>\n    <p><a href=\"https://lician.com/admin/seo\">View full SEO dashboard</a></p>\n  </div>\n</body>\n</html>`;\n\nreturn {\n  json: {\n    subject: `🎯 SEO Alert: ${items.length} significant ranking changes - ${date}`,\n    body: emailBody,\n    alertCount: items.length\n  }\n};"
      },
      "id": "build-alert-email",
      "name": "Build Alert Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2400, 200],
      "notes": "Compile alerts into email"
    },
    {
      "parameters": {
        "sendTo": "={{ $env.ALERT_EMAIL }}",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.body }}",
        "options": {}
      },
      "id": "send-alert-email",
      "name": "Send Alert Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [2620, 200],
      "credentials": {
        "smtp": {
          "id": "smtp-credentials",
          "name": "SMTP"
        }
      },
      "notes": "Send significant change alerts"
    },
    {
      "parameters": {
        "channel": "#seo-alerts",
        "text": "={{ $json.subject }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "slack-alert",
      "name": "Slack Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [2620, 340],
      "credentials": {
        "slackApi": {
          "id": "slack-api",
          "name": "Slack API"
        }
      },
      "notes": "Optional: Post to Slack"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Weekly trend report data\nWITH weekly_stats AS (\n  SELECT \n    keyword,\n    -- Current position (latest)\n    (SELECT position FROM keyword_rankings kr2 \n     WHERE kr2.keyword = kr.keyword AND kr2.domain = 'lician.com' \n     ORDER BY tracking_date DESC LIMIT 1) as current_position,\n    -- Position 7 days ago\n    (SELECT position FROM keyword_rankings kr2 \n     WHERE kr2.keyword = kr.keyword AND kr2.domain = 'lician.com' \n       AND tracking_date <= CURRENT_DATE - INTERVAL '7 days'\n     ORDER BY tracking_date DESC LIMIT 1) as position_7d_ago,\n    -- Average position this week\n    AVG(position) FILTER (WHERE tracking_date > CURRENT_DATE - INTERVAL '7 days') as avg_position_week,\n    -- Best position this week\n    MIN(position) FILTER (WHERE tracking_date > CURRENT_DATE - INTERVAL '7 days') as best_position_week,\n    -- Worst position this week\n    MAX(position) FILTER (WHERE tracking_date > CURRENT_DATE - INTERVAL '7 days') as worst_position_week,\n    -- Days in top 10\n    COUNT(*) FILTER (WHERE position <= 10 AND tracking_date > CURRENT_DATE - INTERVAL '7 days') as days_in_top_10,\n    -- Featured snippets won\n    COUNT(*) FILTER (WHERE has_featured_snippet = true AND tracking_date > CURRENT_DATE - INTERVAL '7 days') as featured_snippets\n  FROM keyword_rankings kr\n  WHERE domain = 'lician.com'\n    AND tracking_date > CURRENT_DATE - INTERVAL '14 days'\n  GROUP BY keyword\n)\nSELECT \n  keyword,\n  current_position,\n  position_7d_ago,\n  CASE \n    WHEN position_7d_ago IS NOT NULL THEN position_7d_ago - current_position\n    ELSE NULL\n  END as weekly_change,\n  ROUND(avg_position_week::numeric, 1) as avg_position,\n  best_position_week,\n  worst_position_week,\n  days_in_top_10,\n  featured_snippets\nFROM weekly_stats\nORDER BY current_position ASC NULLS LAST",
        "options": {}
      },
      "id": "weekly-report-query",
      "name": "Get Weekly Stats",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [420, 900],
      "credentials": {
        "postgres": {
          "id": "supabase-postgres",
          "name": "Supabase Postgres"
        }
      },
      "notes": "Aggregate weekly performance data"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Historical chart data (last 30 days)\nSELECT \n  tracking_date,\n  keyword,\n  position,\n  position_change,\n  change_direction,\n  has_featured_snippet\nFROM keyword_rankings\nWHERE domain = 'lician.com'\n  AND tracking_date > CURRENT_DATE - INTERVAL '30 days'\nORDER BY tracking_date ASC, keyword ASC",
        "options": {}
      },
      "id": "chart-data-query",
      "name": "Get Chart Data (30 days)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [420, 1040],
      "credentials": {
        "postgres": {
          "id": "supabase-postgres",
          "name": "Supabase Postgres"
        }
      },
      "notes": "Historical data for trend charts"
    },
    {
      "parameters": {
        "jsCode": "const weeklyStats = $('Get Weekly Stats').all();\nconst chartData = $('Get Chart Data (30 days)').all();\n\nconst reportDate = new Date().toISOString().split('T')[0];\nconst weekStart = new Date(Date.now() - 7 * 24 * 60 * 60 * 1000).toISOString().split('T')[0];\n\n// Categorize keywords by performance\nconst topPerformers = weeklyStats.filter(k => k.json.current_position && k.json.current_position <= 10);\nconst improvers = weeklyStats.filter(k => k.json.weekly_change && k.json.weekly_change > 0).sort((a, b) => b.json.weekly_change - a.json.weekly_change);\nconst decliners = weeklyStats.filter(k => k.json.weekly_change && k.json.weekly_change < 0).sort((a, b) => a.json.weekly_change - b.json.weekly_change);\nconst notRanking = weeklyStats.filter(k => !k.json.current_position);\n\n// Summary stats\nconst totalKeywords = weeklyStats.length;\nconst rankingKeywords = weeklyStats.filter(k => k.json.current_position).length;\nconst avgPosition = weeklyStats.reduce((sum, k) => sum + (k.json.current_position || 100), 0) / totalKeywords;\nconst top10Count = topPerformers.length;\nconst featuredSnippets = weeklyStats.reduce((sum, k) => sum + (k.json.featured_snippets || 0), 0);\n\n// Build HTML report\nconst html = `\n<html>\n<head>\n  <style>\n    body { font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; background: #f5f5f5; margin: 0; }\n    .container { max-width: 800px; margin: 0 auto; background: white; }\n    .header { background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 30px; }\n    .header h1 { margin: 0; font-size: 24px; }\n    .header p { margin: 10px 0 0; opacity: 0.9; }\n    .stats-grid { display: grid; grid-template-columns: repeat(4, 1fr); gap: 15px; padding: 20px; background: #f8f9fa; }\n    .stat-card { background: white; padding: 20px; border-radius: 8px; text-align: center; box-shadow: 0 1px 3px rgba(0,0,0,0.1); }\n    .stat-value { font-size: 32px; font-weight: bold; color: #333; }\n    .stat-label { color: #666; font-size: 12px; text-transform: uppercase; margin-top: 5px; }\n    .section { padding: 20px; border-bottom: 1px solid #eee; }\n    .section h2 { font-size: 18px; margin: 0 0 15px; color: #333; }\n    table { width: 100%; border-collapse: collapse; }\n    th, td { padding: 12px; text-align: left; border-bottom: 1px solid #eee; }\n    th { background: #f8f9fa; font-weight: 600; color: #666; font-size: 12px; text-transform: uppercase; }\n    .position { font-weight: bold; }\n    .up { color: #28a745; }\n    .down { color: #dc3545; }\n    .same { color: #666; }\n    .badge { display: inline-block; padding: 4px 8px; border-radius: 4px; font-size: 12px; }\n    .badge.top10 { background: #d4edda; color: #155724; }\n    .badge.featured { background: #fff3cd; color: #856404; }\n    .footer { padding: 20px; text-align: center; color: #666; font-size: 12px; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>📊 Weekly SEO Report - lician.com</h1>\n      <p>Week of ${weekStart} to ${reportDate}</p>\n    </div>\n    \n    <div class=\"stats-grid\">\n      <div class=\"stat-card\">\n        <div class=\"stat-value\">${rankingKeywords}/${totalKeywords}</div>\n        <div class=\"stat-label\">Keywords Ranking</div>\n      </div>\n      <div class=\"stat-card\">\n        <div class=\"stat-value\">${top10Count}</div>\n        <div class=\"stat-label\">In Top 10</div>\n      </div>\n      <div class=\"stat-card\">\n        <div class=\"stat-value\">${avgPosition.toFixed(1)}</div>\n        <div class=\"stat-label\">Avg Position</div>\n      </div>\n      <div class=\"stat-card\">\n        <div class=\"stat-value\">${featuredSnippets}</div>\n        <div class=\"stat-label\">Featured Snippets</div>\n      </div>\n    </div>\n    \n    <div class=\"section\">\n      <h2>🏆 Top Performers (Position 1-10)</h2>\n      <table>\n        <tr><th>Keyword</th><th>Position</th><th>Change</th><th>Avg</th></tr>\n        ${topPerformers.map(k => `\n          <tr>\n            <td>${k.json.keyword} ${k.json.featured_snippets > 0 ? '<span class=\"badge featured\">Featured</span>' : ''}</td>\n            <td class=\"position\">#${k.json.current_position}</td>\n            <td class=\"${k.json.weekly_change > 0 ? 'up' : k.json.weekly_change < 0 ? 'down' : 'same'}\">\n              ${k.json.weekly_change > 0 ? '↑' : k.json.weekly_change < 0 ? '↓' : '='} ${Math.abs(k.json.weekly_change || 0)}\n            </td>\n            <td>${k.json.avg_position || '-'}</td>\n          </tr>\n        `).join('')}\n      </table>\n    </div>\n    \n    <div class=\"section\">\n      <h2>📈 Biggest Improvements This Week</h2>\n      <table>\n        <tr><th>Keyword</th><th>Position</th><th>Change</th><th>Was</th></tr>\n        ${improvers.slice(0, 10).map(k => `\n          <tr>\n            <td>${k.json.keyword}</td>\n            <td class=\"position\">${k.json.current_position ? '#' + k.json.current_position : 'Not ranking'}</td>\n            <td class=\"up\">↑ ${k.json.weekly_change}</td>\n            <td>#${k.json.position_7d_ago}</td>\n          </tr>\n        `).join('')}\n      </table>\n    </div>\n    \n    <div class=\"section\">\n      <h2>📉 Needs Attention (Declining)</h2>\n      <table>\n        <tr><th>Keyword</th><th>Position</th><th>Change</th><th>Was</th></tr>\n        ${decliners.slice(0, 10).map(k => `\n          <tr>\n            <td>${k.json.keyword}</td>\n            <td class=\"position\">${k.json.current_position ? '#' + k.json.current_position : 'Dropped out'}</td>\n            <td class=\"down\">↓ ${Math.abs(k.json.weekly_change)}</td>\n            <td>#${k.json.position_7d_ago}</td>\n          </tr>\n        `).join('')}\n      </table>\n    </div>\n    \n    ${notRanking.length > 0 ? `\n    <div class=\"section\">\n      <h2>⚠️ Not Ranking (Focus Areas)</h2>\n      <p>${notRanking.map(k => k.json.keyword).join(', ')}</p>\n    </div>\n    ` : ''}\n    \n    <div class=\"section\">\n      <h2>📊 All Keywords Overview</h2>\n      <table>\n        <tr><th>Keyword</th><th>Position</th><th>7d Change</th><th>Best</th><th>Worst</th><th>Top 10 Days</th></tr>\n        ${weeklyStats.map(k => `\n          <tr>\n            <td>${k.json.keyword}</td>\n            <td class=\"position\">${k.json.current_position ? '#' + k.json.current_position : '-'}</td>\n            <td class=\"${k.json.weekly_change > 0 ? 'up' : k.json.weekly_change < 0 ? 'down' : 'same'}\">\n              ${k.json.weekly_change > 0 ? '↑' : k.json.weekly_change < 0 ? '↓' : '='} ${Math.abs(k.json.weekly_change || 0)}\n            </td>\n            <td>${k.json.best_position_week || '-'}</td>\n            <td>${k.json.worst_position_week || '-'}</td>\n            <td>${k.json.days_in_top_10 || 0}/7</td>\n          </tr>\n        `).join('')}\n      </table>\n    </div>\n    \n    <div class=\"footer\">\n      <p>Generated by n8n SEO Rank Tracker</p>\n      <p><a href=\"https://lician.com/admin/seo\">View interactive dashboard</a></p>\n    </div>\n  </div>\n</body>\n</html>`;\n\nreturn {\n  json: {\n    subject: `📊 Weekly SEO Report: ${top10Count} keywords in Top 10, ${improvers.length} improved - ${reportDate}`,\n    html,\n    summary: {\n      totalKeywords,\n      rankingKeywords,\n      top10Count,\n      avgPosition: avgPosition.toFixed(1),\n      improvedCount: improvers.length,\n      declinedCount: decliners.length,\n      featuredSnippets\n    }\n  }\n};"
      },
      "id": "build-weekly-report",
      "name": "Build Weekly Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 960],
      "notes": "Generate comprehensive HTML report"
    },
    {
      "parameters": {
        "sendTo": "={{ $env.REPORT_EMAIL }}",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "id": "send-weekly-report",
      "name": "Send Weekly Report Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [920, 900],
      "credentials": {
        "smtp": {
          "id": "smtp-credentials",
          "name": "SMTP"
        }
      },
      "notes": "Email weekly trend report"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Store weekly summary for historical charts\nINSERT INTO seo_weekly_summaries (\n  domain,\n  report_date,\n  total_keywords,\n  ranking_keywords,\n  top_10_count,\n  avg_position,\n  improved_count,\n  declined_count,\n  featured_snippets,\n  created_at\n) VALUES (\n  'lician.com',\n  CURRENT_DATE,\n  {{ $json.summary.totalKeywords }},\n  {{ $json.summary.rankingKeywords }},\n  {{ $json.summary.top10Count }},\n  {{ $json.summary.avgPosition }},\n  {{ $json.summary.improvedCount }},\n  {{ $json.summary.declinedCount }},\n  {{ $json.summary.featuredSnippets }},\n  NOW()\n)\nON CONFLICT (domain, report_date) DO UPDATE SET\n  total_keywords = EXCLUDED.total_keywords,\n  ranking_keywords = EXCLUDED.ranking_keywords,\n  top_10_count = EXCLUDED.top_10_count,\n  avg_position = EXCLUDED.avg_position,\n  updated_at = NOW()",
        "options": {}
      },
      "id": "store-weekly-summary",
      "name": "Store Weekly Summary",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [920, 1040],
      "credentials": {
        "postgres": {
          "id": "supabase-postgres",
          "name": "Supabase Postgres"
        }
      },
      "notes": "Historical chart data"
    },
    {
      "parameters": {},
      "id": "no-operation",
      "name": "No Significant Changes",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2180, 400],
      "notes": "No alerts needed"
    }
  ],
  "connections": {
    "Daily Schedule (6 AM)": {
      "main": [
        [
          {
            "node": "Set Keywords to Track",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Keywords to Track": {
      "main": [
        [
          {
            "node": "Batch Keywords (5 at a time)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch Keywords (5 at a time)": {
      "main": [
        [
          {
            "node": "SerpAPI Search",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Rate Limit Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit Wait": {
      "main": [
        [
          {
            "node": "Batch Keywords (5 at a time)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI Search": {
      "main": [
        [
          {
            "node": "Parse SERP Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse SERP Results": {
      "main": [
        [
          {
            "node": "Get Previous Ranking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Previous Ranking": {
      "main": [
        [
          {
            "node": "Calculate Position Change",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Position Change": {
      "main": [
        [
          {
            "node": "Store Ranking in Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Ranking in Supabase": {
      "main": [
        [
          {
            "node": "Significant Change?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Significant Change?": {
      "main": [
        [
          {
            "node": "Format Alert Messages",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Significant Changes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Alert Messages": {
      "main": [
        [
          {
            "node": "Build Alert Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Alert Email": {
      "main": [
        [
          {
            "node": "Send Alert Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Slack Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weekly Report (Monday 8 AM)": {
      "main": [
        [
          {
            "node": "Get Weekly Stats",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Chart Data (30 days)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Weekly Stats": {
      "main": [
        [
          {
            "node": "Build Weekly Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Chart Data (30 days)": {
      "main": [
        [
          {
            "node": "Build Weekly Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Weekly Report": {
      "main": [
        [
          {
            "node": "Send Weekly Report Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Store Weekly Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "name": "SEO",
      "createdAt": "2026-01-16T00:00:00.000Z",
      "updatedAt": "2026-01-16T00:00:00.000Z"
    },
    {
      "name": "lician.com",
      "createdAt": "2026-01-16T00:00:00.000Z",
      "updatedAt": "2026-01-16T00:00:00.000Z"
    },
    {
      "name": "Automated",
      "createdAt": "2026-01-16T00:00:00.000Z",
      "updatedAt": "2026-01-16T00:00:00.000Z"
    }
  ],
  "triggerCount": 2,
  "updatedAt": "2026-01-16T00:00:00.000Z",
  "versionId": "1"
}
