n8n-workflows/social-auto-post.json
{
  "name": "Social Media Auto Poster - Lician.com Content",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "new-content-published",
        "options": {
          "rawBody": false
        },
        "responseMode": "responseNode"
      },
      "id": "webhook-new-content",
      "name": "New Content Published",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "webhookId": "new-content-lician"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Validate and enrich incoming content data\nconst item = $input.first();\nconst body = item.json.body || item.json;\n\nconst url = body.url || body.link || '';\nconst title = body.title || '';\nconst description = body.description || body.excerpt || '';\nconst contentType = body.type || 'article'; // article, tool, analysis, news\nconst tags = body.tags || [];\nconst image = body.image || body.og_image || 'https://lician.com/og-image.png';\n\nif (!url || !title) {\n  throw new Error('Missing required fields: url and title are required');\n}\n\n// Generate platform-specific copy\nconst twitterCopy = generateTwitterCopy(title, description, url, tags);\nconst linkedInCopy = generateLinkedInCopy(title, description, url, contentType);\n\nfunction generateTwitterCopy(title, description, url, tags) {\n  const maxLength = 280 - url.length - 5; // Leave room for URL and spacing\n  \n  // Create engaging hooks based on content\n  const hooks = [\n    `Just published: ${title}`,\n    `New on Lician: ${title}`,\n    `${title} - Check out our latest analysis`,\n    `Fresh insights: ${title}`,\n  ];\n  \n  let tweet = hooks[Math.floor(Math.random() * hooks.length)];\n  \n  // Add relevant hashtags\n  const financeHashtags = ['#Finance', '#Investing', '#StockMarket', '#FinTech', '#Trading'];\n  const relevantTags = tags.length > 0 \n    ? tags.slice(0, 2).map(t => `#${t.replace(/\\s+/g, '')}`).join(' ')\n    : financeHashtags.slice(0, 2).join(' ');\n  \n  if (tweet.length + relevantTags.length < maxLength - 10) {\n    tweet += ' ' + relevantTags;\n  }\n  \n  return tweet;\n}\n\nfunction generateLinkedInCopy(title, description, url, contentType) {\n  const typeIntros = {\n    'article': 'We just published a new article on',\n    'tool': 'Introducing a new tool for',\n    'analysis': 'Our latest analysis covers',\n    'news': 'Market update:'\n  };\n  \n  const intro = typeIntros[contentType] || typeIntros['article'];\n  \n  const post = `${intro} ${title.toLowerCase()}.\n\n${description}\n\nRead more: ${url}\n\n#Finance #Investing #FinancialAnalysis #StockMarket #Lician`;\n  \n  return post;\n}\n\nreturn [{\n  json: {\n    url,\n    title,\n    description,\n    contentType,\n    tags,\n    image,\n    twitterCopy,\n    linkedInCopy,\n    receivedAt: new Date().toISOString(),\n    contentId: body.id || `content-${Date.now()}`\n  }\n}];"
      },
      "id": "prepare-content",
      "name": "Prepare Content & Generate Copy",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        470,
        300
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "social_posts",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "content_url": "={{ $json.url }}",
            "content_title": "={{ $json.title }}",
            "content_type": "={{ $json.contentType }}",
            "twitter_copy": "={{ $json.twitterCopy }}",
            "linkedin_copy": "={{ $json.linkedInCopy }}",
            "twitter_status": "pending",
            "linkedin_status": "pending",
            "created_at": "={{ $json.receivedAt }}"
          }
        },
        "options": {
          "returnData": true
        }
      },
      "id": "save-to-db",
      "name": "Save to Database",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        690,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "CONFIGURE_SUPABASE_CREDENTIALS",
          "name": "Lician Supabase"
        }
      }
    },
    {
      "parameters": {},
      "id": "split-platforms",
      "name": "Split for Platforms",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        910,
        300
      ]
    },
    {
      "parameters": {
        "text": "={{ $('Prepare Content & Generate Copy').item.json.twitterCopy }}\n\n{{ $('Prepare Content & Generate Copy').item.json.url }}",
        "additionalFields": {}
      },
      "id": "post-twitter",
      "name": "Post to Twitter/X",
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        1130,
        200
      ],
      "credentials": {
        "twitterOAuth2Api": {
          "id": "CONFIGURE_TWITTER_CREDENTIALS",
          "name": "Lician Twitter"
        }
      }
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "minutes"
      },
      "id": "wait-linkedin",
      "name": "Wait 30 min for LinkedIn",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1130,
        400
      ]
    },
    {
      "parameters": {
        "person": "CONFIGURE_LINKEDIN_PERSON_URN",
        "text": "={{ $('Prepare Content & Generate Copy').item.json.linkedInCopy }}",
        "additionalFields": {}
      },
      "id": "post-linkedin",
      "name": "Post to LinkedIn",
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        1350,
        400
      ],
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "CONFIGURE_LINKEDIN_CREDENTIALS",
          "name": "Lician LinkedIn"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "social_posts",
          "mode": "list"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "content_url",
              "keyValue": "={{ $('Prepare Content & Generate Copy').item.json.url }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "twitter_status": "posted",
            "twitter_post_id": "={{ $json.id }}",
            "twitter_posted_at": "={{ new Date().toISOString() }}"
          }
        },
        "options": {}
      },
      "id": "update-twitter-status",
      "name": "Update Twitter Status",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1350,
        200
      ],
      "credentials": {
        "supabaseApi": {
          "id": "CONFIGURE_SUPABASE_CREDENTIALS",
          "name": "Lician Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "social_posts",
          "mode": "list"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "content_url",
              "keyValue": "={{ $('Prepare Content & Generate Copy').item.json.url }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "linkedin_status": "posted",
            "linkedin_post_id": "={{ $json.id }}",
            "linkedin_posted_at": "={{ new Date().toISOString() }}"
          }
        },
        "options": {}
      },
      "id": "update-linkedin-status",
      "name": "Update LinkedIn Status",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1570,
        400
      ],
      "credentials": {
        "supabaseApi": {
          "id": "CONFIGURE_SUPABASE_CREDENTIALS",
          "name": "Lician Supabase"
        }
      }
    },
    {
      "parameters": {
        "channel": "#content-posted",
        "text": "=:rocket: *Content Posted to Social Media*\n\n*Title:* {{ $('Prepare Content & Generate Copy').item.json.title }}\n*URL:* {{ $('Prepare Content & Generate Copy').item.json.url }}\n\n:bird: Twitter: Posted\n:briefcase: LinkedIn: Scheduled (30 min delay)\n\n_{{ new Date().toISOString() }}_",
        "otherOptions": {}
      },
      "id": "slack-notification",
      "name": "Notify Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1570,
        200
      ],
      "credentials": {
        "slackApi": {
          "id": "CONFIGURE_SLACK_CREDENTIALS",
          "name": "Lician Slack"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"success\": true,\n  \"message\": \"Content queued for social posting\",\n  \"url\": $('Prepare Content & Generate Copy').item.json.url,\n  \"platforms\": [\"twitter\", \"linkedin\"],\n  \"timestamp\": new Date().toISOString()\n} }}",
        "options": {}
      },
      "id": "webhook-response",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1790,
        300
      ]
    },
    {
      "parameters": {
        "errorMessage": "={{ $json.error || 'Unknown error in social posting workflow' }}"
      },
      "id": "error-handler",
      "name": "Handle Errors",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1790,
        500
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "social_posts",
          "mode": "list"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "content_url",
              "keyValue": "={{ $('Prepare Content & Generate Copy').item.json.url }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "twitter_status": "failed",
            "error_message": "={{ $json.message || 'Twitter posting failed' }}"
          }
        },
        "options": {}
      },
      "id": "twitter-error-handler",
      "name": "Log Twitter Error",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1350,
        50
      ],
      "credentials": {
        "supabaseApi": {
          "id": "CONFIGURE_SUPABASE_CREDENTIALS",
          "name": "Lician Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "social_posts",
          "mode": "list"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "content_url",
              "keyValue": "={{ $('Prepare Content & Generate Copy').item.json.url }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "linkedin_status": "failed",
            "error_message": "={{ $json.message || 'LinkedIn posting failed' }}"
          }
        },
        "options": {}
      },
      "id": "linkedin-error-handler",
      "name": "Log LinkedIn Error",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1570,
        550
      ],
      "credentials": {
        "supabaseApi": {
          "id": "CONFIGURE_SUPABASE_CREDENTIALS",
          "name": "Lician Supabase"
        }
      }
    }
  ],
  "connections": {
    "New Content Published": {
      "main": [
        [
          {
            "node": "Prepare Content & Generate Copy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Content & Generate Copy": {
      "main": [
        [
          {
            "node": "Save to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Database": {
      "main": [
        [
          {
            "node": "Split for Platforms",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split for Platforms": {
      "main": [
        [
          {
            "node": "Post to Twitter/X",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait 30 min for LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Twitter/X": {
      "main": [
        [
          {
            "node": "Update Twitter Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30 min for LinkedIn": {
      "main": [
        [
          {
            "node": "Post to LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to LinkedIn": {
      "main": [
        [
          {
            "node": "Update LinkedIn Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Twitter Status": {
      "main": [
        [
          {
            "node": "Notify Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update LinkedIn Status": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Slack": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": ""
  },
  "staticData": null,
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "lician-n8n-instance"
  }
}